body {
  display: flex;
  height: 100vh;
  margin: 0;
}

.editor {
  font-family: monospace;
  padding: 8px;
  line-height: 16px;
  resize: none !important;
}

#input {
  flex: 2;
  background-color: hsl(240, 6.25%, 9.375%);
}

#output {
  flex: 1;
  background-color: hsl(240, 6.25%, 12.5%);
}

#help {
  font-family: sans-serif;
  background-color: hsl(240, 6.25%, 93.75%);
  flex: 1;
  padding: 8px;
}

h1, h2 {
  font-size: 1.2em;
  margin-top: 1em;
}

h1 {
  font-size: 1.4em;
}

code {
  border-radius: 4px;
}

.hljs-class {
  font-weight: bold;
}
