body {
  display: flex;
  height: 100vh;
  margin: 0;
}

.editor {
  font-family: monospace;
  padding: 8px;
  line-height: 16px;
  resize: none !important;
}

#input {
  flex: 2;
  background-color: hsl(240, 6.25%, 9.375%);
}

#output {
  flex: 1;
  background-color: hsl(240, 6.25%, 12.5%);
}
