pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

.hljs {
  color: hsl(240, 6.25%, 87.5%);
  background-color: hsl(240, 6.25%, 9.375%);
}

.hljs::selection,
.hljs ::selection {
  background-color: hsl(270, 75%, 75%);
  color: hsl(240, 6.25%, 9.375%);
}

.hljs-comment {
  color: hsl(240, 6.25%, 56.25%);
}

.hljs-number {
  color: hsl(0, 75%, 75%);
}

.hljs-punctuation {
  color: hsl(30, 75%, 75%);
}

.hljs-class {
  color: hsl(150, 75%, 75%);
}

.hljs-bullet {
  color: hsl(240, 75%, 75%);
}

.hljs-title {
  color: hsl(90, 75%, 75%);
}

.hljs-variable {
  color: hsl(300, 75%, 75%);
}
